name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: cmake -S pc -B build

      - name: Build
        run: cmake --build build --config Release
